:root {
    --sidebar-width: 260px;
}

/* 1. COMPORTAMENTO DARK/LIGHT */
.logo {
    height: 50px;
}

.logo-light,
.iconeLight {
    display: block;
}

.logo-dark,
.iconeDark {
    display: none;
}

[data-bs-theme="dark"] {
    .iconeLight,
    .logo-light {
        display: none;
        opacity: 0;
    }

    .iconeDark,
    .logo-dark {
        display: block;
        opacity: 1;
    }
}

/* 2. SIDEBAR  */
#sidebar {
    position: fixed;
    width: var(--sidebar-width);
    transition: transform 0.3s ease-in-out;
}

#sidebar.show {
    transform: translateX(0); 
}

/*  3. MAIN E BOTÃO FECHAR SIDEBAR  */
.main {
    margin-left: var(--sidebar-width);
    padding-top: 70px;
    padding-bottom: 40px;
    transition: margin-left 0.3s;
}

#btnCloseSidebar {
    display: none;
    transition: 0.3s; 
}

@media (max-width: 1024px) {
    .main {
        margin-left: 0;
    }
    #btnCloseSidebar {
        display: block;
    }
}

/* 4. TABELAS E LISTAS DE DESPESAS  */
#tabelaDespesas tr {
    border-bottom: 1px solid var(--bs-border-color);
}

table thead tr,
table tfoot tr {
    font-weight: bold;
}

table td:not(:first-child),
table th:not(:first-child) {
    text-align: right;
}

/* 5. PROGRESSOS E IMAGENS  */
#investProgress {
    width: 50%;
}

#receitaProgress {
    width: 90%;
}

#despesaProgress {
    width: 10%;
}

#chart12m {
    width: 100% !important;
    max-height: 290px;
}

#imagemCard {
    width: 200px;
}


/* 6. CARDS E LAYOUT  */
.card-col {
    min-width: 450px;
    flex: 1;
}

.cardProgresso {
    display: flex;
    flex: 1 1 auto;
}

.card-body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-standard {
    width: 100%;
    height: 100%;
    box-shadow: var(--bs-box-shadow-sm);
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 7. CLASSES DAS SUGESTÕES (CATEGORIAS, LISTAS E BOTÕES) */
.sug-cat-title {
    margin-bottom: 1rem;
}

.sug-cat-list {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

.sug-cat-list:last-child {
    margin-bottom: 0;
}

.list-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bs-border-color);
}

.sug-btn {
    display: inline-block;
    margin-left: 0.25rem;
    white-space: nowrap;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid;
}